# Copia questo file in .env.local e compila i valori
# NON committare .env.local su GitHub!

NOTION_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_DATABASE_ID=ea04a175e76a4009893fd7e919a30c5f
